@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

:root {
    --primary-color: #4EA8D4;
    --secondary-color: #D8E5E3;
    --text-color: #3C8378;
    --sm: 1.6rem;
    --md: 2rem;
    --lg: 2.4rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to right bottom, #4ea8d4, #6eb9d3, #91c9d4, #b5d7d8, #d8e5e3);
    width:100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main__title{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.main__title .title{
    font-weight: 700;
    font-size: --var(--lg);
}
.main__title .title__img{
    width:10rem;
}

.main__contain {
    display:flex;
    margin: 5rem;
    border: .1rem solid var(--text-color);
    background-color: #ffffff1f;
    min-height: 50rem;
    justify-content:space-evenly;

    flex-wrap: wrap;
}


.results img{
    width:20px;
}

